<h1>List of directors</h1>

<% Director.all.each do |a_director| %>
  <li>
    <%=a_director.name%> (<%= a_director.dob %>)
  </li>
<%end%> 

<table border = "1">
<tr>
  <th><ID/th>
  <th>Image</th>
  <th>Name</th>
  <th>Dob</th>
</tr>

<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>

</table>
