<h1>Youngest director</h1>

The youngest director in our dataset right now is <a href="<%=@the_youngest.id%>"><%=@the_youngest.name%></a>, born on <%=@the_youngest.dob%>, July 30, 1970.
<br>
<br>
(http://strftime.net/ is handy for putting together the formatting strings for the .strftime method.)
